.Form {
  background-color: grey;
}

.radioButtons {
  display: block;
  margin-top: 20px;
}

button {
  background-image: linear-gradient(
    to bottom right,
    rgb(12, 127, 180) 45%,
    rgb(10, 84, 119)
  );
  box-shadow: 5px 5px 8px rgb(189, 181, 181);
  color: whitesmoke;
  font-family: 'Solway', serif;
  font-size: 25px;
  font-weight: 600;
  height: 60px;
  margin: 10px;
  margin-top: 40px;
  margin-bottom: 17px;
  width: 160px;
  &:hover {
    background-image: linear-gradient(
      to bottom right,
      rgb(182, 179, 179) 45%,
      white
    );
    border: 4px solid white;
    color: rgb(12, 75, 104);
  }
  &:active {
    background-image: linear-gradient(
      to bottom right,
      rgb(182, 179, 179) 45%,
      white
    );
    border: 2px solid white;
    color: rgb(12, 75, 104);
  }
}


