footer {
  margin-top: 43vh;
  background-image: linear-gradient(
    to bottom right,
    rgb(12, 127, 180) 30%,
    rgb(10, 84, 119)
  );
  color: aliceblue;
  height: 60px;
}

.footer {
  line-height: 60px;
}
